<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cloudly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dropzone.min.css')}}" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://img.icons8.com/color/96/000000/cloud-storage.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" 
        crossorigin="anonymous">
    </script>
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">  

    <script src="{{ url_for('static', filename='dist/modal-box.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/modal-box.min.css')}}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/themes.min.css')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
   
<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab" rel="stylesheet">

</head>
<body class="bg-grey-darkest">
    <div class="flex flex-row">
        <div name="folders" class="w-1/6 bg-grey " style="overflow-wrap: break-word;"></div>
        <div name="files" class=" w-5/6 bg-grey-darkest h-screen flex flex-wrap" style="">

            {% for key, value in files.items() %}
            <div name="file" class="file  mt-10 ml-10 w-card h-card bg-grey-darker border-0 text-center rounded border-transparent ">
                <div class="details">
                    <br>
                
                    <i class="{{ value['icon'] }} text-white text-GIGA text-center" style="margin-bottom: 10px;"></i>
                    <br >

                    <p class="text-white" style="font-size:13px; font-family: 'Roboto', sans-serif; line-height: 17px; letter-spacing: normal;font-weight: 500">
                    {{ key | truncate(18, True) }}</p>
                    
                </div>
                <div class="absolute -ml-0 opacity-0 hover:opacity-100 -mt-40 w-card h-card border-1" id="outer">
                    <i onclick="download('{{ value['hash']}}','{{  value['ext'] }}')" class="opacity-100 z-50 mt-20 fas fa-download text-xl text-white"></i>
                </div>

            </div>
            {% endfor %}



            <input type="image" onclick="" id="image" src="{{ url_for('static', filename='images/upload.png')}}" class="" alt="" style="height:80px;position:absolute;bottom:0;right:0;margin-bottom:30px;margin-right:30px;">


            
        </div>
      </div>
    <div id="down-modal" class="w-32 h-32b">
        <center>
            <p class="text-3xl text-grey-darker">Nous récupérons votre fichier...</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="bubblingG">
                <span id="bubblingG_1">
                </span>
                <span id="bubblingG_2">
                </span>
                <span id="bubblingG_3">
                </span>
            </div>



        
        </center>
      </div>
      <div id="my-modal" class="w-64 h-64">
        <center>
            <p class="text-3xl text-grey">Veuillez uploader vos fichiers</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div id="dragndrop" class="" style="max-width:80rem;">
                <form action="/sendfile" class="dropzone" id="dropzone">
                <div class="fallback">
                    <input name="fic" type="file" multiple />
                </div>
                </form>
            </div>


        
        </center>
      </div>
      


<script>
$("#my-modal").wgModal({
  triggerElement: '#image'
});
var d_modal = $("#down-modal").wgModal({});

</script>




<script src="https://code.jquery.com/jquery-1.12.4.min.js" 
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" 
        crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/dropzone.min.js')}}"></script>

<script>
</script>


<script>

function download(hash,ext){
    d_modal.openModal();
    $.get( "http://127.0.0.1:5555/prepare?hash="+hash+"&ext="+ext, function( data ) {
    console.log('File url : '+data)
    d_modal.closeModal();
    window.location.href = data

    

    });
}


</script>

</body>
</html>