<script src="https://code.jquery.com/jquery-1.12.4.min.js" 
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" 
        crossorigin="anonymous">
</script>
<script src="dist/modal-box.min.js"></script>
<link rel="stylesheet" href="dist/modal-box.min.css">   
<link rel="stylesheet" href="dist/themes.min.css">
<link rel="stylesheet" href="css/main.css">
<button type="button" id="open-modal" class="color-red">Open window download</button>
<div id="my-modal" class="w-64 h-64">
  Nous sommes en train de récupérer votre fichier.
</div>

<script>
$("#my-modal").wgModal({
  triggerElement: '#open-modal'
});

</script>